Repository ubuntu/yaru.dart, pull requests merged in 2024-03, with the labels that each got.

#861 chore(YaruTitleBar): backdrop effect is already implemented
  lib/src/widgets/yaru_title_bar.dart
Labels: widgets

#864 chore: fix icons page title bar
  example/lib/example.dart
  example/lib/example_page_items.dart
  example/lib/pages/icons_page/icons_page.dart
Labels: Example app

#866 fix(YaruSearchField): display clear button on _controller text change
  lib/src/widgets/yaru_search_field.dart
Labels: widgets

#868 chore: move actions to floating button
  example/lib/code_snippet_button.dart
  example/lib/example.dart
  example/lib/example_page_items.dart
  example/lib/pages/icons_page/icons_page.dart
Labels: Example app

#876 fix(YaruPopupMenuButton): Wrong background color
  example/lib/pages/popup_page.dart
  lib/src/widgets/yaru_popup_menu_button.dart
Labels: bug, widgets

#881 feat(YaruIcons): add light bulb on/off icons
  assets/icons/light-bulb-off.svg
  assets/icons/light-bulb-on.svg
  assets/yaru_icons.otf
  lib/src/yaru_icons.dart
Labels: icons
